* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #dedee9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    width: 96%;
    margin: auto;
  }
  
  .title{
    font-size: 2em;
    text-align:center;
    margin-bottom: 2%;
  }
  
  .swingSliderContainer {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /*Sets width for slider rail*/
  .swingSlider {
    width: 50%
  }

  .seatContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 29%);
    grid-gap: 1rem;
    justify-content: space-between;
   }
  
  .seatDiv {
    width: 90%;
    padding: 3%;
    margin-bottom: 2%;
    background-color: whitesmoke;
    font-size: 0.85em;
  }
  
  .seatName {
    height: auto;
  }

  .marginInfo {
    
  }
  
  /*View for tablet*/
  @media only screen and (min-width: 479px) {
    .swingSlider {
      width: 75%
    }

    .seatContainer {
      grid-template-columns: repeat(auto-fill, 12%);
    }
  
    /* .seatDiv {
      width: 100%;
    } */
  }
  
   /*View for Desktop*/
  @media only screen and (min-width: 1024px) {
    .title{
      font-size: 3em;
    }
  
    .swingSlider {
      width: 90%
    }

    .seatContainer {
      grid-template-columns: repeat(auto-fill, 8%);
    }
    
    /* .seatDiv {
      width: 8%;
    } */
  }